*.aux
*.bbl
*.blg
*.log
*.out
*.backup
*~
/tmp
*.synctex.gz
.project
.texlipse
*.nav
*.snm
*.toc
*.vrb
presentacion-20150919.synctex.gz presentacion-20170422.synctex.gz presentacion-20171006.synctex.gz
